
* {
    font-family: "Ubuntu";
}

#description {
    background-color: rgba(24, 135, 84, 0.5);
}

body {
   margin: 0;
}

#moreinfo-page-header-wrapper {
   margin-top: 0;
   opacity: 0.8;
   position: absolute;
}

#moreinfo-page-header {
   margin: 0;
   text-align: center;
   height: 100vh;
   margin: 0;
   background-repeat: no-repeat;
   background-size: cover;
   /* opacity: 0.5; */
}

#moreinfo-page-header {
   margin: 0;
   text-align: center;
}

.img-wrapper {
    position: relative;
} 
    
#intro-page-body {
    background-image: url(../images/hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.img-responsive {
   width: 100%;
   height: auto;
}

#more-info-page-title {
   justify-content: center;
   position: absolute;
   width: 100%;
   top: 25%;
}

.img-overlay {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   text-align: center;
}

.img-overlay:before {
   content: ' ';
   display: block;
   /* adjust 'height' to position overlay content vertically */
   height: 50%;
}
